@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #1c1a19 !important;
}

section {
  position: absolute;
  width: 91.467vw;
  height: 191.5vw;
  left: 4.3vw;
  top: 16vw;
  background: #fff;
  border: 0.27vw solid #dfe1e6;
  box-sizing: border-box;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);

  h3 {
    position: relative;
    width: 80vw;
    height: 21.7vw;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8.53vw;
    line-height: 11.73vw;
    color: #172b4d;
    left: 4.3vw;
    margin-bottom: 8vw;

    a {
      position: relative;
      left: 34.67vw;
      right: 3.2vw;
      top: 1.33vw;
      color: #67798e;
      text-decoration: none;
    }

    // for telegram bot page
    .bot-title {
      width: 26.67vw;
    }

    a.button {
      margin-left: -10.67vw;
      margin-top: 5.33vw;
    }
  }

  //-------------------

  //for tic tac toe page
  .tic-tac {
    width: 74.67vw;

    a.button {
      margin-left: -26.67vw;
    }
  }

  //----------------------------------
  // for delala webpage (html capstone)
  .delala-title {
    width: 66.67vw;

    a {
      position: relative;
      left: 24vw;
    }
  }

  //-----------------------------
  .techs {
    span {
      position: relative;
      top: 8vw;
      left: 4.267vw;
      height: 4.267vw;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 3.467vw;
      line-height: 4.267vw;
      color: #3c3a39;
      align-items: center;
      padding: 3.1vw;
      margin-left: 1vw;
      background: #fff;
      border: 0.267vw solid #dfe1e6;
      margin-bottom: 8vw;

      @media screen and (max-width: 250px) {
        padding: 2.7vw;
      }
    }
  }

  .project-detail {
    img {
      position: relative;
      width: 82.93vw;
      height: 58.67vw;
      left: 4.267vw;
      top: 18.67vw;
    }

    .project-description {
      p {
        position: relative;
        top: 23.2vw;
        width: 82.933vw;
        left: 4.267vw;
        height: 58.67vw;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 4.267vw;
        line-height: 6.4vw;
        color: #344563;
      }

      a {
        position: relative;
        width: 35.73vw;
        top: 21.33vw;
        left: 4.267vw;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 4.53vw;
        line-height: 6.4vw;
        text-align: center;
        letter-spacing: 0.03em;
        color: #fff;
        padding: 3.2vw;
        background: #ff6b00;
        height: 12.8vw;
        margin-right: 5.1vw;

        @media (max-width: 300px) {
          top: 11vw;
        }
      }

      a:hover {
        background: #fff5e1;
        border: 0.267vw solid #f55800;
        box-sizing: border-box;
        text-decoration: none;
        color: #f55800;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    background: #1c1a19 !important;
  }

  section {
    width: 80.3vw;
    position: absolute;
    top: 7.78vw;
    left: 9.86vw;
    height: 43.82vw;
    background-color: white;

    .title {
      h3 {
        position: relative;
        width: 73.33vw;
        line-height: 3.1vw;
        font-size: 32px;
        left: 1.67vw;

        a {
          position: relative;
          left: 60vw;
          z-index: 9;
          top: -0.4vw;

          @media (min-width: 1440px) {
            left: 62.5vw;
          }
        }
      }
    }

    .techs {
      position: relative;
      top: -32vw;
      left: -3.67vw;

      span {
        font-size: 15px;
        line-height: 20px;
        padding: 12px;
      }
    }

    .project-detail {
      display: grid;
      grid-template-columns: 45.764vw 29.44vw;
      position: relative;
      top: -39vw;
      grid-gap: 1.736vw;

      img {
        width: 45.764vw;
        height: 31.11vw;
        left: 1.67vw;
      }

      .project-description {
        p {
          width: 29.44vw;
          height: 23.33vw;
          font-size: 16px;
          line-height: 30px;
          left: 1.67vw;
          top: 19vw;
        }

        a {
          width: 22.01vw;
          position: relative;
          font-size: 17px;
          line-height: 24px;
          padding: 12px;
          left: 1.67vw;
          margin-right: 1vw;

          @media (min-width: 1440px) {
            top: 23vw;
          }
        }
      }
    }
  }

  .bot-title {
    width: 26.67vw;

    a.button {
      left: 65vw;
      top: -0.5vw;
      z-index: 9;

      @media (min-width: 1440px) {
        left: 71vw;
      }
    }
  }

  .delala-title {
    width: 66.67vw;

    a.button {
      left: 62vw;
      top: -0.5vw;
      z-index: 9;

      @media (min-width: 1440px) {
        left: 68vw;
      }
    }
  }

  .tic-tac {
    width: 74.67vw;

    a.btn1 {
      left: 74vw;
      top: -0.5vw;
      z-index: 9;

      @media (min-width: 1440px) {
        left: 82vw;
      }
    }
  }
}
