* {
  box-sizing: border-box; }

section {
  position: absolute;
  width: 343px;
  height: 718px;
  left: 16px;
  top: 60px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  box-sizing: border-box; }
  section h3 {
    position: relative;
    width: 300px;
    height: 82px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
    left: 16px;
    margin-bottom: 30px; }
    section h3 a {
      position: relative;
      left: 130px;
      right: 12px;
      top: 5px;
      color: #67798E;
      text-decoration: none; }
    section h3 .bot-title {
      width: 100px; }
    section h3 a.button {
      margin-left: -40px;
      margin-top: 20px; }
  section .tic-tac {
    width: 280px; }
    section .tic-tac a {
      margin-left: -100px; }
  section .delala-title {
    width: 250px; }
    section .delala-title a {
      position: relative;
      left: 90px; }
  section .techs span {
    position: relative;
    top: 30px;
    left: 16px;
    height: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3C3A39;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    margin-bottom: 30px; }
  section .project-detail img {
    position: relative;
    width: 311px;
    height: 220px;
    left: 16px;
    top: 70px; }
  section .project-detail .project-description p {
    position: relative;
    top: 87px;
    width: 311px;
    left: 16px;
    height: 220px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563; }
  section .project-detail .project-description a {
    position: relative;
    width: 134px;
    top: 80px;
    left: 16px;
    height: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 12px;
    background: #FF6B00;
    height: 48px;
    margin-right: 19px; }
  section .project-detail .project-description a:hover {
    background: #FFF5E1;
    border: 1px solid #F55800;
    box-sizing: border-box;
    text-decoration: none;
    color: #F55800; }

@media (min-width: 1024px) {
  section {
    width: 100%;
    position: absolute;
    top: 112px;
    left: 142px;
    width: 1156px;
    height: 631px; }
    section .title h3 {
      width: 1056px;
      line-height: 44px; }
      section .title h3 a {
        position: relative;
        left: 900px; }
    section .techs {
      position: relative;
      top: -80px; }
    section .project-detail {
      display: grid;
      grid-template-columns: 659px 424px;
      position: relative;
      bottom: 50px;
      grid-gap: 25px; }
      section .project-detail img {
        width: 659px;
        height: 448px; }
      section .project-detail .project-description p {
        width: 424px;
        height: 336px; }
      section .project-detail .project-description a {
        position: relative;
        top: 137px; } }

/*# sourceMappingURL=project.css.map */
