@mixin techs {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	height: 20px;
	color: #091E42;
	border: 1px solid #8993A4;
	box-sizing: border-box;
	background: #FFFFFF;
	padding: 10px 12px;
}


* {
	box-sizing: border-box;

}

body {
	background-color: #1C1A19;

	header {
		width: 375px;
		height: 92px;
		position: absolute;
		left: 0%;
		top: 0%;
		background-color: #3C3A39;

		.name {
			position: relative;
			width: 105px;
			height: 24px;
			left: 12px;
			top: 45px;
			color: #FFFFFF;
			background-color: #3C3A39 !important;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			box-sizing: border-box;

		}

		ul {
			display: none;
		}

		.dropdown {
			position: relative;
			display: inline-block;
			right: 40px;
			top: 20px;


		}

		i {
			font-size: 30px;
			border: none;
			color: #ACB7C3
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #DBD8D7;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;

		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {
			background-color: #ddd;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
	}

	.dropdown:hover .dropbnt {
		background-color: #3e8e41;
	}

	section {
		width: 375px;
		position: absolute;
		left: 0;
		top: 92px;
		background-color: #1C1A19;

		div {
			h2 {
				position: relative;
				width: 327px;
				left: 24px;
				top: 50px;
				font-family: Crete Round;
				font-style: normal;
				font-weight: normal;
				font-size: 56px;
				line-height: 64px;
				letter-spacing: 0.37px;
				color: #FF6B00;

			}

			h4 {
				position: relative;
				width: 327px;
				height: 27px;
				left: 24px;
				top: 35px;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
				color: #FFF5E1;
			}

			p {
				position: relative;
				width: 327px;
				height: 123px;
				left: 24px;
				top: 40px;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;

			}
		}

		.contact_link {
			position: relative;
			left: 8%;
			top: 10px;
			bottom: 0%;

			a {
				i {
					width: 60px;
					height: 20px;
					font-size: 25px;
					color: #DBD8D7;
					margin-bottom: 70px;
				}
			}
		}
	}

	.projects {
		width: 375px;
		position: absolute;
		top: 500px;
		left: 0;
		background-color: #E5E5E5;
		padding-bottom: 200px;

		.recent_works {
			h3 {

				width: 327px;
				height: 83px;
				padding-left: 24px;
				margin-top: 120px;
				color: #1C1A19;
				font-family: Crete Round;
				font-style: normal;
				font-weight: normal;
				font-size: 40px;


			}

			h3:after {
				content: '';
				width: 327px;
				position: absolute;
				left: 24px;
				top: 190px;
				border: 1px solid #212121;
				display: block;

			}

			img {
				position: relative;
				width: 327px;
				left: 24px;
				height: auto;
				top: 30px;
				background-color: #E5E5E5;

			}

			h4 {
				position: relative;
				width: 327px;
				height: 36px;
				left: 24;
				top: 35px;
				font-family: Crete Round;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 44px;
				color: #091E42;
			}

			p {
				color: #091E42;
				width: 327px;
				height: 147;
				font-family: Inter;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
			}

			.stacks {
				position: relative;
				top: 70px;
				left: 24px;
				width: 327px;

				.tech1 {
					width: 25px;
					@include techs;
				}

				.tech2 {
					width: 32px;
					@include techs;
				}

				.tech3 {
					width: 71px;
					@include techs;
				}

				.tech4 {
					width: 71px;
					@include techs;
				}
			}

			a.button {
				position: relative;
				left: 24px;
				top: 80px;
				padding: 12px;
				width: 124px;
				height: 48px;
				background: #FF6B00;
				margin: 12px 0px;
				border: none;
				font-family: Inter;
				font-style: normal;
				font-weight: bold;
				font-size: 17px;
				line-height: 24px;
				color: #FFFFFF;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;

				text-decoration: none;
			}

		}

		.second-project {
			position: relative;
			top: 70px;
			width: 327px;
			height: 325px;
			left: 24px;
			background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
				url(assets/telegram.png);
			background-size: cover;

			h3 {
				position: relative;
				width: 295px;
				height: 81px;
				left: 16px;
				top: 70px;
				font-family: Crete Round;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 44px;
				color: #FFFFFF;
			}

			p {
				position: relative;
				width: 295px;
				height: 87px;
				left: 16px;
				font-family: Inter;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;

			}

			span {
				position: relative;
				top: 50px;
				left: 16px;
				width: 37px;
				@include techs;
				background: rgba(255, 255, 255, 0.24) !important;
				color: #FFFFFF !important;
				border: none;
			}

			a.button {
				position: relative;
				top: 70px;
				width: 327px;
				height: 48px;
				background: #FF6B00;
				border: none;
				font-family: Inter;
				font-style: normal;
				font-weight: bold;
				font-size: 17px;
				line-height: 24px;
				letter-spacing: 0.03em;
				padding: 12px 0;
				color: #FFFFFF;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-align: center;
				text-decoration: none;
			}
		}

		.third-project {
			background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(assets/tic_tac.jpeg);
		}

		.fourth-project {
			background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(assets/delala1.png);
			background-size: 327px;
			background-repeat: no-repeat;


		}
	}

	.about {
		position: absolute;
		top: 2370px;
		padding-bottom: 400px;

		.about-me {
			a.button {
				position: relative;
				top: 40px;
				left: 24px;
				width: 161px;
				height: 48px;
				font-family: Inter;
				font-style: normal;
				font-weight: bold;
				font-size: 17px;
				line-height: 24px;
				letter-spacing: 0.03em;
				color: #FFFFFF;
				background: #FF6B00;
				padding: 12px;
				border: none;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-align: center;
				text-decoration: none;
			}
		}

		.about-me:after {
			content: '';
			width: 327px;
			position: absolute;
			left: 24px;
			top: 450px;
			border: 1px solid #FFFFFF;
			display: block;

		}

		.tech-stacks {
			position: relative;
			top: 300px;



			.language {
				position: relative;
				left: 24px;

				.diamond {
					position: relative;
					left: 40px;
					top: 27px;
					width: 18px;
					height: 18px;
					background: #FF6B00;
					transform: rotate(-45deg);

				}

				h5 {
					position: relative;
					left: 49px;
					text-align: center;
					color: #DBD8D7;
					width: 164px;
					height: 24px;
					font-family: InaiMathi;
					font-style: normal;
					font-weight: bold;
					font-size: 32px;
					line-height: 44px;
					color: #FFFFFF;
					margin: 0px 12px;


				}

				ul {
					position: relative;
					left: 55px;
					list-style: none;
					text-align: center;

					li {

						font-family: Inter;
						font-style: normal;
						font-weight: normal;
						font-size: 22px;
						line-height: 43px;
						color: #FFFFFF;
						width: 114px;
						height: 24px;
						margin-top: 15px;
					}
				}
			}

			.frameworks {
				position: relative;
				top: 20px;

				.square {
					margin-left: -20px;
					transform: rotate(90deg);

				}

				ul {
					li {
						width: 162px;
						margin-left: -25px;
					}


				}
			}

			.skills {
				position: relative;
				top: 50px;
				margin-left: -10px;

				.circle {
					border-radius: 50%;
					margin-left: 40px;
				}
			}
		}
	}

	footer {
		position: absolute;
		top: 3660px;
		left: 0;
		width: 375px;
		background: #E5E5E5;
		padding-bottom: 230px;

		.get-in-touch {
			.get-mob {
				p {
					position: relative;
					top: 100px;
					left: 24px;
					width: 327px;
					height: 216px;
					font-family: Inter;
					font-style: normal;
					font-weight: bold;
					font-size: 32px;
					line-height: 44px;
					text-align: center;
					color: #172B4D;

				}
			}

			.mob-form {

				form {
					position: relative;
					top: 40px;


					#full-name,
					#email {
						position: relative;
						top: 100px;
						left: 24px;
						border: none;
						margin-bottom: 20px;
						font-family: Inter;
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 24px;
						height: 18px;
						align-items: center;
						color: #979493;
						border: 0px solid #DBD8D7;
						border-bottom-width: 1px;
						border-radius: 0px;
						background-color: transparent;
						padding: 14px 0;
						width: 327px;
						margin-bottom: 33px;
						padding-left: 16px;
					}

					textarea {
						position: relative;
						top: 100px;
						left: 24px;
						width: 327px;
						height: 114px;
						border-radius: 0;
						background: #FBF8F7;
						font-family: Inter;
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 24px;
						color: #3C3A39;
					}

					button {
						position: relative;
						top: 90px;
						width: 131px;
						height: 48px;
						left: 98px;
						background: #FF6B00;
						border: none;
						margin: 24px 0px;
						font-family: Inter;
						font-style: normal;
						font-weight: bold;
						font-size: 17px;
						line-height: 24px;
						letter-spacing: 0.03em;
						color: #FFFFFF;
					}

					button:after {
						content: '';
						width: 373px;
						position: absolute;
						left: -98px;
						top: 140px;
						border: 1px solid #DFE1E6;
						;
						display: block;

					}



				}
			}

			.footer-icons {
				position: relative;
				top: 200px;

				left: 99.01px;

				right: 97px;

				a {
					i {
						padding-right: 23px;
						font-size: 25px;
						color: #505F79;
					}
				}

				.bottom-border {
					position: relative;
					top: 23px;
					left: 13px;
					width: 131px;
					height: 5px;
					background: #0D151E;
					border-radius: 10px;


				}
			}


		}
	}

	@media (min-width: 1440px) {
		header {
			width: 100%;
			height: 72px;

			.name {
				position: absolute;
				top: 26px;
				left: 154px;
				width: 120px;
				height: 20px;
				font-size: 20px;
				line-height: 20px;
			}

			.dropdown {
				display: none;

			}

			ul {
				position: absolute;
				left: 1003px;
				display: block;
				display: flex;
				top: 26px;

			}
		}

	}
}