/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
$mob-width: 87.2%;
$mob-left:6.4%;

@mixin techs {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 4vw;
	line-height: 5.33vw;
	height: 5.33vw;
	color: #091e42;
	border: 0.27vw solid #8993a4;
	box-sizing: border-box;
	background: #fff;
	padding: 2.67vw 3.2vw;
}

@mixin tech-desk {
	font-size: 1.042vw;
	line-height: 5.33vw;
	padding: 0.694vw 0.83vw;
	height: 1.4vw;
	border: .0694vw solid #8993a4;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #1c1a19;

	header {
		width: 100%;
		height: 24.53vw;
		position: absolute;
		left: 0%;
		top: 0%;
		background-color: #3c3a39;

		.name {
			position: relative;
			width: 28vw;
			height: 6.4vw;
			left: 6.4vw;
			top: 12vw;
			color: #fff;
			background-color: #3c3a39 !important;
			font-family: 'Roboto', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 4.8vw;
			line-height: 6.4vw;
			box-sizing: border-box;
		}

		ul {
			display: none;
		}

		.dropdown {
			position: relative;
			display: inline-block;
			right: 10.67vw;
			top: 5.33vw;
			z-index: 2;
		}

		i {
			font-size: 8vw;
			border: none;
			color: #acb7c3;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			left: -82.4vw;
			top: 0;
			bottom: 15.2vw;
			background-color: #3C3A39;

			min-width: 100vw;
			height: 201.33vw;
			box-shadow: 0 12.8vw 12.8vw rgba(37, 47, 137, 0.08);
			right: 2.67vw;

			i {
				position: relative;
				left: 85.33vw;
				top: -58.67vw;
				color: #fff5e1;
			}
		}

		.dropdown-content a {
			color: #fff5e1;
			padding: 3.2vw 4.267vw;
			text-decoration: none;
			display: block;
			font-family: 'Inter', sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 8.53vw;
			line-height: 11.73vw;
		}

		.dropdown-content a::after {
			content: '';
			width: $mob-width;
			position: absolute;
			left: $mob-left;
			border: 0.267vw solid #6f6c6b;
			display: block;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
	}

	section {
		width: 100%;
		position: absolute;
		left: 0;
		top: 24.53vw;
		background-color: #1c1a19;
		overflow: hidden;
		height: 157.33vw;

		div {
			h2 {
				position: relative;
				width: 87.2%;
				left: 6.4%;
				top: 13.33vw;
				font-family: 'Crete Round', serif;
				font-style: normal;
				font-weight: normal;
				font-size: 14.93vw;
				line-height: 18.67vw;
				letter-spacing: 0.37px;
				color: #ff6b00;
				height: 33.1vw;
			}

			h4 {
				position: relative;
				width: 87.2%;
				left: 6.4%;
				top: 13.33vw;
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 6.4vw;
				line-height: 8.53vw;
				color: #fff5e1;
			}

			p {
				position: relative;
				width: 87.2%;
				height: auto;
				left: 6.4%;
				top: 12vw;
				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 4.23vw;
				line-height: 6.4vw;
				color: #fff;
				height: 32.8vw;
			}
		}

		.contact_link {
			position: relative;
			left: 8%;
			top: 12vw;
			bottom: 0%;

			a {
				i {
					width: 16%;
					height: auto;
					font-size: 5.33vw;
					color: #dbd8d7;
					margin-bottom: 70px;
				}
			}
		}
	}

	.projects {
		width: 100%;
		position: absolute;
		top: 150vw;
		left: 0;
		background-color: #e5e5e5;
		padding-bottom: 53.33vw;
		overflow-x: hidden;
		height: 570vw;

		.desk-title {
			display: none;
		}

		.recent-line {
			display: none;
		}

		.recent_works {
			h3 {
				width: 100%;
				height: 22.13vw;
				padding-left: 6.4vw;
				margin-top: 32vw;
				color: #1c1a19;
				font-family: 'Crete Round', serif;
				font-style: normal;
				font-weight: normal;
				font-size: 10.67vw;
			}

			h3::after {
				content: '';
				width: 87.2%;
				position: absolute;
				left: 6.4vw;
				top: 50.67vw;
				border: 0.267vw solid #212121;
				display: block;
				background-color: #212121;
			}

			img {
				position: relative;
				width: 87.2%;
				left: 6.4%;
				height: auto;
				top: 8vw;
				background-color: #e5e5e5;
			}

			h4 {
				position: relative;
				width: 87.2%;
				height: 9.6vw;
				left: 6.4%;
				top: 9.33vw;
				font-family: 'Crete Round', serif;
				font-style: normal;
				font-weight: normal;
				font-size: 8.53vw;
				line-height: 11.73vw;
				color: #091e42;
			}

			p {
				color: #091e42;
				width: $mob-width;

				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 4.27vw;
				line-height: 6.4vw;
				height: 39.2vw;
			}

			.stacks {
				position: relative;
				top: 18.67vw;
				left: $mob-left;


				.tech1 {
					width: 6.67vw;

					@include techs;
				}

				.tech2 {
					width: 8.533vw;

					@include techs;
				}

				.tech3 {
					width: 17.93vw;

					@include techs;
				}

				.tech4 {
					width: 1.93vw;

					@include techs;
				}
			}

			a.button {
				position: relative;
				left: $mob-left;
				top: 21.33vw;
				padding: 3.2vw;
				width: 33.1vw;

				background: #ff6b00;
				margin: 3.2vw 0;
				border: none;
				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 4.53vw;
				line-height: 6.4vw;
				color: #fff;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-decoration: none;
			}
		}


		.second-project {
			position: relative;
			top: 17vw;
			width: $mob-width;
			height: 96vw;
			left: 6.4vw;
			background:
				linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
				url(assets/telegram.png);
			background-size: cover;
			margin-top: 6.4vw;

			@media screen and (max-width :200px) {
				height: 100vw;
			}

			h3 {
				position: relative;
				width: 78.67vw;
				height: 21.6vw;
				left: 4.23vw;
				top: 18.67vw;
				font-family: 'Crete Round', serif;
				font-style: normal;
				font-weight: normal;
				font-size: 8.53vw;
				line-height: 11.73vw;
				color: #fff;
			}

			p {
				position: relative;
				width: 78.67vw;
				height: 23.2vw;
				left: 4.23vw;
				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 4.267vw;
				line-height: 6.4vw;
				color: #fff;
			}

			span {
				position: relative;
				top: 16.33vw;
				left: 4.23vw;
				width: 9.867vw;

				@include techs;

				background: rgba(255, 255, 255, 0.24) !important;
				color: #fff !important;
				border: none;
			}

			a.button {
				position: relative;
				top: 31.7vw;
				width: 100%;
				height: 12.8vw;
				background: #ff6b00;
				border: none;
				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 4.53vw;
				line-height: 6.4vw;
				letter-spacing: 0.03em;
				padding: 3.2vw 0;
				color: #fff;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-align: center;
				text-decoration: none;

				@media screen and (max-width :150px) {
					top: 17vw;
				}

				@media screen and (max-width :200px) {
					top: 22vw;
				}

			}
		}

		.third-project {
			background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(assets/tic_tac.jpeg);
			margin-top: 10vw;
		}

		.fourth-project {
			background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(assets/delala1.png);
			background-size: 100%;
			background-repeat: no-repeat;
			margin-top: 10vw;
		}
	}

	.about {
		position: absolute;
		top: 720vw;

		overflow-x: hidden;
		width: 100%;
		height: 380vw;

		.about-me {
			a.button {
				position: relative;
				top: 10.67vw;
				left: $mob-left;
				width: 42.93vw;
				height: 12.8vw;
				font-family: 'Inter', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 4.53vw;
				line-height: 6.4vw;
				letter-spacing: 0.03em;
				color: #fff;
				background: #ff6b00;
				padding: 3.2vw;
				border: none;
				-webkit-appearance: button;
				-moz-appearance: button;
				appearance: button;
				text-align: center;
				text-decoration: none;
			}
		}

		.about-me::after {
			content: '';
			width: $mob-width;
			position: absolute;
			left: $mob-left;
			top: 120vw;
			border: 1px solid #fff;
			display: block;
		}

		.tech-stacks {
			position: relative;
			top: 80vw;

			.language {
				position: relative;
				left: $mob-left;

				.diamond {
					position: relative;
					left: 10.67vw;
					top: 7.2vw;
					width: 4.8vw;
					height: 4.8vw;
					background: #ff6b00;
					transform: rotate(-45deg);
				}

				h5 {
					position: relative;
					left: 13.1vw;
					text-align: center;
					width: 43.73vw;
					height: 6.4vw;
					font-family: 'Crete Round', serif;
					font-style: normal;
					font-weight: bold;
					font-size: 8.53vw;
					line-height: 11.73vw;
					color: #fff;
					margin: 0 3.2vw;
				}

				ul {
					position: relative;
					left: 14.67vw;
					list-style: none;
					text-align: center;

					li {
						font-family: 'Inter', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 5.87vw;
						line-height: 11.5vw;
						color: #fff;
						width: 30.4vw;
						height: 6.4vw;
						margin-top: 4vw;
					}
				}
			}

			.frameworks {
				position: relative;
				top: 5.33vw;

				.square {
					position: relative;
					top: 8vw;
					margin-left: -2.67vw;
					transform: rotate(90deg);
				}

				ul {
					li {
						width: 43.2vw;
						margin-left: -6.67vw;
					}
				}
			}

			.skills {
				position: relative;
				top: 13.33vw;
				margin-left: -2.67vw;

				.circle {
					border-radius: 50%;
					margin-left: 10.67vw;
				}
			}
		}
	}

	footer {
		position: absolute;
		top: 1100vw;
		left: 0;
		width: 100%;
		background: #e5e5e5;
		padding-bottom: 61.33vw;
		overflow: hidden;

		.get-in-touch {
			.get-mob {
				p {
					position: relative;
					top: 26.67vw;
					left: $mob-left;
					width: $mob-width;
					height: 57.6vw;
					font-family: 'Inter', sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 8.53vw;
					line-height: 11.73vw;
					text-align: center;
					color: #172b4d;
				}
			}

			.mob-form {
				form {
					position: relative;
					top: 10.67vw;

					#full-name,
					#email {
						position: relative;
						top: 26.67vw;
						left: $mob-left;
						border: none;
						font-family: 'Inter', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 4vw;
						line-height: 6.4vw;
						height: 4.8vw;
						align-items: center;
						color: #979493;
						border-bottom-width: 0.267vw;
						background-color: transparent;
						padding: 3.73vw 0;
						width: $mob-width;
						margin-bottom: 8.8vw;
						padding-left: 4.3vw;
					}

					textarea {
						position: relative;
						top: 26.67vw;
						left: $mob-left;
						width: $mob-width;
						height: 30.4vw;
						border-radius: 0;
						background: #fbf8f7;
						font-family: 'Inter', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 4vw;
						line-height: 6.4vw;
						color: #3c3a39;
					}

					button {
						position: relative;
						top: 24vw;
						width: 34.93vw;
						height: 12.8vw;
						left: 26.13vw;
						background: #ff6b00;
						border: none;
						margin: 6.4vw 0;
						font-family: 'Inter', sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 4.53vw;
						line-height: 6.4vw;
						letter-spacing: 0.03em;
						color: #fff;
					}

					button::after {
						content: '';
						width: 99.5vw;
						position: absolute;
						left: -26.13vw;
						top: 37.33vw;
						border: 0.267vw solid #dfe1e6;
						display: block;
					}
				}
			}

			.desktop-form {
				display: none;
			}

			.footer-icons {
				position: relative;
				top: 53.33vw;
				left: 26.4vw;
				right: 25.87vw;

				a {
					i {
						padding-right: 6.13vw;
						font-size: 6.67vw;
						color: #505f79;
					}
				}

				.bottom-border {
					position: relative;
					top: 6.13vw;
					left: 3.5vw;
					width: 34.93vw;
					height: 1.33vw;
					background: #0d151e;
					border-radius: 2.67vw;
				}
			}
		}
	}

	//------ for Desktop
	@media (min-width: 1024px) {
		header {
			width: 100%;
			height: 5vw;

			.name {
				position: absolute;
				top: 1.81vw;
				left: 10.694vw;
				width: 8.333vw;
				height: 1.39vw;
				font-size: 1.39vw;
				line-height: 1.39vw;
			}

			.dropdown {
				display: none;
			}

			ul {
				position: absolute;
				left: 65%;
				display: block;
				display: flex;
				top: 1.81vw;

				li {
					a {
						height: 1.39vw;
						font-family: 'Inter', sans-serif;
						font-style: normal;
						font-weight: 600;
						font-size: 1.1vw;
						line-height: 1.39vw;
						color: #fff;
						text-decoration: none;
						padding-left: 2.22vw;

						i {
							font-size: 1.5vw;
							line-height: 1.39vw;
						}
					}
				}
			}
		}

		.intro {
			margin-top: -19.792vw;
			min-width: 100%;
			height: 55.42vw;
			display: flex;

			.intro-title {


				h2 {
					position: absolute;
					top: 18.33vw;
					left: 9.93vw;

					font-size: 5vw;
					line-height: 5.625vw;
					width: 39.31vw;
					height: 11.1vw;
				}

				h4 {
					position: absolute;
					left: 9.93vw;
					top: 31.11vw;
					font-size: 2.22vw;
					line-height: 3.1vw;
					width: 39.31vw;
					height: 1.67vw;
					margin-top: 1.67vw;
					color: #FFFFFF;
					font-weight: 500;

				}

				p {
					position: absolute;
					top: 34.44vw;
					left: 9.93vw;
					font-size: 1.39vw;
					line-height: 2.431vw;
					width: 39.31vw;
					height: 8.542vw;
					margin-top: 3vw;

				}
			}

			.contact_link {
				position: absolute;
				top: 24.375vw;
				left: 2.6vw;
				display: flex;
				flex-direction: column;

				a {
					i {
						font-size: 1.39vw;
						margin-bottom: 2.1vw;
					}
				}
			}
		}

		.projects {
			position: relative;
			width: 100%;
			height: 105vw;
			top: 60.1vw;
			overflow-x: hidden;

			.desk-title {
				display: block;
				position: relative;
				top: 6.35vw;
				left: 141px;
				width: 23.875vw;
				height: 3.61vw;

				margin-top: 8.33vw;
				font-family: 'Crete Round', serif;
				font-style: normal;
				font-weight: normal;
				font-size: 2.78vw;
				line-height: 3.61vw;
				color: #091e42;
			}

			.desk-title::after {
				content: '';
				width: 55.14vw;
				position: absolute;
				left: 27vw;
				top: 2.1vw;
				border: 0.0694vw solid #212121;
				display: block;
			}

			.recent_works {
				position: relative;
				top: 9.375vw;
				left: 9.1vw;
				display: flex;

				h3 {
					display: none;
				}

				img {
					position: relative;
					top: 7.92vw;
					width: 47.5vw;
					height: 31.1vw;
					left: 0;
				}

				.recent-description {
					position: relative;
					left: 1.67vw;
					top: -2vw;

					h4 {
						color: #091e42;
						font-size: 2.78vw;
						width: 31.1vw;
						height: 3.33vw;
						line-height: 3.61vw;
					}

					p {
						position: relative;
						top: 10vw;
						width: 31.1vw;
						font-size: 1.39vw;
						line-height: 1.94vw;
						height: 9.72vw;
						color: #091e42;
					}
				}

				.stacks {
					position: relative;
					top: 11vw;
					width: 47.5vw;


					.tech1 {
						width: 3.41vw;
						@include tech-desk;

					}

					.tech2 {
						width: 4.5vw;
						margin-left: 0.83vw;
						@include tech-desk;
					}



					.tech3 {
						@include tech-desk;
						margin-left: 0.83vw;
					}



					.tech4 {
						@include tech-desk;
						margin-left: 0.83vw;
					}

				}

				a.button {
					position: relative;
					top: 8vw;
					padding: 0.83vw;
					width: 8.61vw;
					font-size: 1.2vw;
					line-height: 1.67vw;

				}
			}

			.sample-project {
				position: absolute;
				left: 9.82vw;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				width: 80.21vw;
				grid-gap: 3vw;
				top: 37vw;

				.second-project {
					position: relative;
					width: 25.63vw;
					height: 30.21vw;
					left: -1vw;
					margin-top: 10vw;


					h3 {
						position: relative;
						top: 10.42vw;
						font-size: 2.22vw;
						line-height: 3.1vw;
						left: 1.67vw;

					}

					span {
						position: relative;
						top: -5.5vw;
						left: 1.67vw;
						font-size: 1.042vw;
						line-height: 1.34vw;
						padding: .833vw;
					}

					p {
						position: relative;
						top: -8vw;
						width: 23.4vw;
						height: 5vw;
						font-size: 1.181vw;
						line-height: 1.67vw;
						left: 1.67vw;
					}

					a {
						position: relative;
						top: -3.6vw;
						width: 25.63vw;
						height: 4.03vw;
						font-size: 1.2vw;
						line-height: 1.67vw;
						padding-top: 1.181vw;
						padding-bottom: 1.181vw
					}
				}



				.third-project .second-project {
					position: relative;
					top: 0;

				}

				.fourth-project .second-project {

					background-size: 369px;
				}
			}
		}

		.about {
			position: relative;
			top: 59.722vw;
			width: 100%;
			height: 98vw;
			overflow-x: hidden;

			.about-me {
				position: relative;
				left: 2vw;
				top: 4.86vw;

				h2 {
					width: 39.31vw;
					height: 5.42vw;
					font-size: 5vw;
					line-height: 5.625vw;
				}

				p {
					margin-top: 1.67vw;
					width: 39.31vw;
					height: 10.28vw;
					font-size: 1.39vw;
					line-height: 2.22vw;
				}

				a.button {
					font-size: 1.181vw;
					line-height: 1.67vw;
					padding: 0.833vw;
					width: 11.181vw;
					height: 3.33vw;
				}
			}

			.about-me::after {
				position: relative;
				top: 21.4vw;
				width: 80.28vw;

			}

			.tech-stacks {
				position: relative;
				top: 35.2vw;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				left: 0;


				.language {
					h5 {
						width: 15.833vw;
						height: 1.67vw;
						font-size: 2.22vw;
						line-height: 3.1vw;
						left: 4vw;
					}



					.diamond {
						width: 1.25vw;
						height: 1.25vw;
						position: relative;
						left: 8vw;
						top: 2vw;
					}

					ul {

						li {
							width: 7.92vw;
							height: 1.67vw;
							font-size: 1.53vw;
							line-height: 2.99vw;
							text-align: start;
							position: relative;
							left: -8.5vw;
							margin-top: 2.22vw;

						}
					}
				}

				.frameworks {
					position: relative;
					top: 0;

					h5 {
						position: relative;
						left: -1.8vw;

					}

					.square {
						position: relative;
						left: 3.8vw;
					}

					ul {
						li {
							width: 10vw;
						}
					}

				}

				.skills {
					position: relative;
					top: 0;

					h5 {
						position: relative;
						left: -8vw;
					}

					.circle {
						left: -12vw;
					}

					ul {
						li {
							left: -17.5vw;

						}
					}
				}
			}
		}

		footer {
			position: relative;
			top: 56.35vw;
			width: 100%;
			background: #e5e5e5;
			overflow-x: hidden;
			height: 48vw;
			padding-bottom: 0;

			.get-in-touch {
				position: relative;
				left: 7.71vw;
				display: grid;
				grid-template-columns: 31.597vw 47.5vw;

				.get-mob {
					p {
						text-align: start;
						width: 31.597vw;
						height: 17.78vw;
						padding-right: 3.33vw;
						font-size: 2.78vw;
						line-height: 3.61vw;
						position: relative;
						top: 9.03vw;
					}
				}

				.mob-form {
					display: none;
				}

				.desktop-form {

					display: block;

					form {
						position: relative;
						top: 3vw;

						#first-name,
						#last-name,
						#email {
							position: relative;
							top: 6.944vw;
							left: 1.67vw;
							font-family: 'Inter', sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 1.042vw;
							line-height: 1.67vw;
							height: 1.25vw;
							align-items: center;
							color: #979493;
							border: 0 solid #dbd8d7;
							border-bottom-width: 0.069vw;
							background-color: transparent;
							padding: 0.97vw 0;
							width: 22.71vw;
							margin-bottom: 2.292vw;
							padding-left: 1.111vw;
						}

						#email {
							width: 47.5vw;
						}

						#last-name {
							margin-left: 1.67vw;
						}

						textarea {
							position: relative;
							top: 6.944vw;
							left: 1.67vw;
							width: 47.5vw;
							height: 7.92vw;
							border-radius: 0;
							background: #fbf8f7;
							font-family: 'Inter', sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 1.042vw;
							line-height: 1.67vw;
							color: #3c3a39;
						}

						button {
							position: relative;
							top: 6.25vw;
							width: 9.1vw;
							height: 3.33vw;
							left: 1.67vw;
							background: #ff6b00;
							border: none;
							margin: 1.67vw 0;
							font-family: 'Inter', sans-serif;
							font-style: normal;
							font-weight: bold;
							font-size: 1.181vw;
							line-height: 1.67vw;
							letter-spacing: 0.03em;
							color: #fff;
						}

						button::after {
							content: '';
							width: 100vw;
							position: absolute;
							left: -41.042vw;
							top: 15vw;
							border: 0.0694vw solid #dfe1e6;
							display: block;
						}

						#status {
							padding: 0.833vw;
							position: relative;
							top: 4.86vw;
							left: 1.67vw;
							font-style: normal;
							font-weight: bold;
							font-size: 1.181vw;
							border-radius: 0.3472vw;
							font-family: 'Inter', sans-serif;
							color: #172b4d;
						}
					}
				}

				.footer-icons {
					position: relative;
					left: 34.45vw;
					top: 18vw;
					padding: 0;

					a {
						i {
							font-size: 1.39vw;
							margin-left: -1.59vw;
						}
					}

					.bottom-border {
						display: none;
					}
				}
			}
		}
	}
}

/* stylelint-enable no-descending-specificity */